/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #f1f1f1;
}
p{
  font-size: 1em;
}
.img-responsive {
  width: 100%;
  height: auto;
}

h1,h2{  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: bold;
}

h1{
  font-size: 2em;
}

h2{
  font-family: 'Poppins', sans-serif; 
  font-size: 2em;
}

h3{
  font-size: 1.5em;
  padding: 15px 0px 15px 0px;
}





button{
  width: 100%;
  font-size: 1.2em;
  padding:15px 0px 15px 0px;
  background-color: #555555;
  color: #fff;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}




button:hover {
  background-color: #f15924; /* Green */

}



/*
.banner{
  background-color: #F15924; 
  padding: 15px 0px 15px 0px; 
  text-align: center; color: #fff; 
  font-size: 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
 */



.banner{padding: 50px 0px 50px 0px}

.banner h2{
  text-align: center;
  font-size: 5em;
  color: #ff6800;
  font-family: 'Pacifico', cursive;
  line-height: 1.3em;
}

.banner h3{text-align: center; font-size: 1.2em; font-weight: normal; color: grey; padding-top: 30px;}

.banner hr{
  margin: auto;
   border: none;
    height: 5px;
    background-color: #4C6BAF;

  width: 20em;
}

#advertentie{

 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/banner-cake.jpg');

   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   padding: 50px 0px 50px 0px;
}

#advertentie h2{
font-weight: lighter;
  font-size: 8em;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  color: #fff;
  text-shadow: 5px 5px #000000;


}

#advertentie span{ font-weight: bold }

#advertentie h3{font-family: 'PT Serif', serif; font-weight: lighter;font-size: 3em; color: #fff; text-transform: uppercase; font-weight: normal; background-color: #B12025; padding: 10px;margin-top:15px;  height: 100%}






/***********************
***** Grid System *****
***********************/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  align-self: flex-start;
}

.flex-container-fluid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  align-self: flex-start;

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  #burger{
    display: block
  }

  .flex-item-2 {
    flex: 0 0 100%;
  }

  .flex-item-3 {
    flex: 0 0 100%;
  }

  .copyright{
    position: relative;
    background-color: #000; 
    padding: 30px 0px 30px 0px;  
    width: 100%
  }

  .copyright.flex-container-fluid .flex-item-2:first-of-type{padding-left: 0px; text-align: center;}
  .copyright.flex-container-fluid .flex-item-2:last-of-type{padding: 15px 0px 0px 0px; text-align: center;}

  .navigation{
    display: none;
    flex-wrap: nowrap;
    overflow-x: auto;

     width: 100%;
    flex-direction: column;
    text-align: center;

  }

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    #burger{
    display: none
  }

  .flex-item-2 {
    flex: 0 0 50%;
  }

  .flex-item-3 {
    flex: 0 0 50%;
  }

  .copyright{
    position: absolute; 
    bottom: 0;
  }

  .navigation{
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .copyright.flex-container-fluid .flex-item-2:first-of-type{text-align: left; padding-left: 30px}
  .copyright.flex-container-fluid .flex-item-2:last-of-type{text-align: right; padding: 0px 30px 0px 0px;}


  
  

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .flex-item-2 {
    flex: 0 0 50%;
  }

  .flex-item-3 {
    flex: 0 0 33.333333%;
  }

  .copyright{
    position: absolute; 
    bottom: 0;
  }

}





















nav {
position: fixed;
width: 100%;

   overflow-x: auto;
  background: #fff;
  padding: 5px 20px;

}
ul {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo{width: 100px}
.menu li {
  font-size: 20px;
  padding: 15px 5px;
  white-space: nowrap;
}




/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.a {
  display: block;
}



/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }



}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  /*
  .toggle {
    display: none;
  }
  */
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}



/***************
*****Header*****
***************/

#header{
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/banner.jpg');
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  background-attachment: fixed;
  padding: 150px 0px 30px 0px;

  min-height: 90vh;



}

/***************
*****Body*****
***************/

#body{
 
  padding: 0px 0px 50px 0px;
}



/***************
*****Footer*****
***************/

#footer{
  min-height: 50vh;
  background-color: #111111;
  color: #fff;
}









.navigation li{
  margin: 0px 15px 0px 15px
}

.navigation li a{
  text-decoration: none; 
  color: #000;
  transition: ease 0.2s; 
  font-size: 20px;
}

.navigation li a:hover {
  color:#F15A24;
}

.active{
     display: flex;
}



input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}



/***********
Footer
***********/
#footer{position: relative; padding-top: 50px;}
#footer .flex-item-3{

  flex: 0 1 auto;
  padding-bottom: 50px;
  margin: 0 auto;
border: none;

}













#footer h4{font-size: 1.5em; padding-bottom: 1em;}
#footer a{color: #A9A9A9; text-decoration: none; line-height: 1.8em}
#footer a:hover{color: #F15924;}
.logo-footer{width: 175px; }






.uitnodiging{margin: 30px 0px 30px 0px;}
.img-cook{width: 400px}


article{ background-color: #fff; background-clip: content-box; border: solid 15px transparent; }
article > * {padding: 15px}
article > img {padding: 0px}

article h3{color: #f15924; }
article span {color: grey; line-height: 0 }
article p{ padding: 30px 0px 30px 0px; font-size: 1.1em; line-height: 1.2em}








#body .flex-item-3{ align-self: flex-start;}


