/***********************
***** Basic Styling *****
***********************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #f1f1f1;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 5rem;
    color: #fff;
}

h2 {
     width: 100%;
    text-align: center;
    font-size: 4.5rem;
    color: #ff6800;
    font-family: 'Pacifico', cursive;
    line-height: 7.5rem;
}

h3 {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    color: grey;
    padding: 30px 0px 30px 0px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/***********************
***** Navigation *****
***********************/

nav {
    position: fixed;
    width: 100%;
    overflow-x: auto;
    transition: 0.3s all;
    padding: 5px 20px;
    z-index: 1;
    top: 0;
}

ul {
    list-style-type: none;
}

nav ul li img{
    width: 100px;
}

nav ul li:first-child {
    flex: 1;
}

nav ul li {
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
}

/* Mobile menu */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul div li {
    margin: 0px 15px 0px 15px
}

nav ul div li a {
    text-decoration: none;
    transition: ease 0.2s;
    font-size: 20px;
}

nav ul div li a:hover {
    color: #F15A24;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    nav {
        background-color: #fff
    }

    nav ul div li a {
        color: #000
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    nav {
        background-color: transparent
    }
      nav ul {
        justify-content: center;
    }
        nav ul li {
        padding: 15px 10px;
    }

    nav.scroll {
        background-color: #fff;
        transition: 0.3s all;
    }

    nav ul div li a {
        color: #fff
    }

    nav.scroll ul div li a {
        color: #000
    }

}

/***********************
***** Reclame banner *****
***********************/

#advertentie-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/banner-cake.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0px 50px 0px;
    width: 100vw;
    height: 70vh;
    display: table-cell;
    vertical-align: middle;
}

#advertentie-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/banner-cupcake.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0px 50px 0px;
    width: 100vw;
    height: 70vh;
    display: table-cell;
    vertical-align: middle;
}

#advertentie-3 h2, #advertentie-2 h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    color: #fff;
    text-shadow: 5px 5px #000000;
}

#advertentie-3 span,
#advertentie-2 span {
    font-weight: bold
}

#advertentie-3 h3,
#advertentie-2 h3 {
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #B12025;
    padding: 10px;
    margin-top: 15px;
    height: 100%
}

#advertentie-2 h3 {
    background-color: #F15924;
}

#advertentie-3 article {
    margin-top: 30px;
    background-color: #B12025;
}

#advertentie-3 p {
    color: #fff;
    padding: 15px;
}


/***********************
***** Buttons *****
***********************/

section button {
    width: 55%;
    font-size: 1.2em;
    padding: 15px 0px 15px 0px;
    margin: 30px auto;
    background-color:#0752d8;
    color: #fff;
     -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

section button:hover {
    background-color: #f15924
}

article button {
    width: 100%;
    background-color: #555555;
}

article button:hover {
    background-color: #f15924;
}

input[type=submit] {
    background-color:#0752d8;
}

input[type=submit]:hover {
    background-color: #f15924;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    #advertentie-3 h2,
    #advertentie-2 h2 {
        font-size: 6rem;
        line-height: 6.5rem;
        text-align: left;
    }

    #advertentie-3 h3,
    #advertentie-2 h3 {
        font-size: 3rem;
    }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    #advertentie-3 h2,
    #advertentie-2 h2 {
        font-size: 8rem;
        line-height: 8.5rem;
    }

    #advertentie-3 h3,
    #advertentie-2 h3 {
        font-size: 3rem;
    }

}


/***********************
***** Grid System *****
***********************/
section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
    align-self: flex-start;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
    align-self: flex-start;
}

footer{ 
    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin: 0 auto;
    align-self: flex-start;
}

#header {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0vw 5vw 0vw 5vw;
    align-self: flex-start;
}

#advertentie-3, #advertentie-2{ max-width: 100%; margin: 0 auto;  height: auto;}

#advertentie-3 *, #advertentie-2 *{ max-width: 1170px; margin: 0 auto;}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    aside {
        width: 100%;
    }

    nav ul li:nth-child(2) {
        display: block
    }

   

    #header div{
        flex: 0 0 100%;
        padding: 15px;
    }

     #contact div{
        flex: 0 0 100%;
        padding: 15px;
    }

    footer div {
        flex: 0 0 100%;
        padding: 15px
    }

    article{
        flex: 0 0 100%;
        padding: 15px
    }

    footer div:nth-child(4) {

          display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    align-self: flex-start;
     

        position: relative;
        background-color: #000;
        padding: 30px 0px 30px 0px;

    }

    footer div:nth-child(4) p:first-of-type {
        width: 100%;
        padding: 0px 30px 0px 30px;
        text-align: center;
    }

    footer div:nth-child(4) p:last-of-type {
        width: 100%;
        padding: 0px 30px 0px 30px;
        text-align: center;
    }

    nav ul div {
        display: none;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

        header button {
        width: 100%
    }

    .iframe-container{display: none;}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    aside {
        width: 33.333333%;
    }

    section#allebaksels {
        width: 66.666666%
    }


    #allebaksels article {
        flex: 0 0 100%;
    }

    nav ul li:nth-child(2) {
        display: none
    }

    #navigation li:nth-child(2){
        display: block;
    }

    #header div {
        flex: 0 0 50%;
    }

     #contact div {
        flex: 0 0 50%;
    }

    footer div {
        flex: 0 0 50%;
    }
    article {
        flex: 0 0 50%;
    }

    footer div:nth-child(4) {
        position: absolute;
        bottom: 0;
    }

    nav ul div {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    footer div:nth-child(4) p:first-of-type {
        width: 50%;
        text-align: left;
    }

    footer div:nth-child(4) p:last-of-type {
        width: 50%;
        text-align: right;
    }

        header button {
        width: 50%
    }

    .iframe-container{display: block;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    #allebaksels article {
        flex: 0 0 50%;
    }

    footer div {
        flex: 0 0 33.333333%;
    }

article{
        flex: 0 0 33.333333%;
    }
    footer div:nth-child(4) {
        position: absolute;
        bottom: 0;
    }



}

#baksels .flex-container:first-child {
    flex: 0 0 33.333333%;
}

#baksels .flex-container:last-child {
    flex: 0 0 66.666666%;
}



/***************
*****Header*****
***************/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0px 30px 0px;
    min-height: 90vh;
    color: #fff;
}

.header-2 {
    min-height: 40vh
}

.header-2 h1 {
    display: block;
    margin: auto;
    font-size: 4rem
}

.hidden {
    display: none;
}

header h1 {
    font-size: 2.5rem
}

header h2 {
    font-family: "Helvetica Neue";
    line-height: normal;
    font-size: 1.5rem;
    text-align: left;
    font-weight: normal;
}

header p {
    padding-top: 50px;
    font-size: 1.2rem;
    line-height: 1.8rem
}


.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 100%;
    overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***************
*****Footer*****
***************/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    footer .flex-container {
        flex-direction: column;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    footer .flex-container {
        flex-direction: row;
    }
}

footer {
    position: relative;
    padding-top: 50px;
    min-height: 50vh;
    background-color: #111111;
    color: #fff;
}

footer img {
    width: 175px;
}

footer div {
    flex: 0 1 auto;
    padding-bottom: 50px;
    margin: 0 auto;
    border: none;
}

footer h4 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

footer a {
    color: #A9A9A9;
    text-decoration: none;
    line-height: 1.8em
}

footer a:hover {
    color: #F15924;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    article:hover {
        background-color: #0752D8;
        color: #fff
    }

    article:hover img {
        background-blend-mode: darken;
    }

    article:hover > * {
        color: #fff
    }

    article button {
        display: none;
    }

}

article {
    background-color: #fff;
    background-clip: content-box;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

article > *:not(img) {
    padding: 15px
}


article h3 {
    color: #f15924;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

article h4 {
    color: grey;
    font-weight: normal;
    line-height: 0;
}

article span {
    color: grey;
    line-height: 0
}

article button {
    border: solid 15px #fff;
}

article p {
    padding: 30px 15px 30px 15px;
}

#contact {
    padding: 50px 0px 50px 0px;
}

#contact h2 {
    color: #000;
    font-size: 5.5rem;
    font-family: "Helvetica Neue";
    text-align: left;
    line-height: 6rem;

    font-weight: 300;
}

#contact h2 span {
    color: #f15924;
    font-weight: bold;
}

input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1em;
    resize: vertical;
}

input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1em;
    resize: vertical;
}

input[type=submit] {
    width: 50%;
    font-size: 1.2em;
    padding: 15px 0px 15px 0px;
    background-color: #555555;
    color: #fff;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #f15924;
}


input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
}

textarea:focus, input:focus{
    outline: none;
}

input:focus:invalid,
textarea:focus:invalid{
    border:solid 2px #F5192F;
}

input:focus:valid,
textarea:focus:valid{
    border:solid 2px #18E109;
    background-color:#fff;
}

#allebaksels {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-self: flex-start;
}

aside {
    font-size: 1.2rem;
    padding: 15px
}

aside ul {
    padding: 10px 0px 0px 30px;
}

aside legend {
    padding: 15px 0px 15px 0px;
}

aside ul li {
    padding: 5px 0px 5px 0px;
}

aside label {
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

aside ul li label {
    padding-left: 15px;
    font-weight: normal;
    color: #ff5e31
}

.active {
    display: flex;
}


